* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./records\ music\ wallpaper.webp');
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.show {
  display: block;
}


header {
  border-radius: 8px;
  background-color: #ddd0c8c8;
  padding: 3vw;
  box-shadow: -7px 8px 7px 0px #01110182;
  text-align: center;
  font-size: larger;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.h1-text {
  font-weight: bolder;
  font-size: larger;
  color: rgba(11, 22, 11, 0.712)
}

.intro {
  color: white;
  margin-top: 10vw;
  padding: 6vw;
  border-radius: 8px;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.554);
  width: 90%;
  margin-left: 5%;
  box-shadow: -7px 8px 7px 0px #01110182;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 8vw;
  height: 100vh;
}

.bg-btn {
  background-color: rgba(34, 139, 34, 0.664);
  padding: 3vw;
  box-shadow: -7px 8px 7px 0px #01110182;
}

.btn-text {
  color: white;
  font-weight: bolder;
}

/* HOMEPAGE STYLES */

.homepage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  color: rgba(11, 22, 11, 0.712)
}


/* .planner-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
} */

.planner-btn {
  width: 25%;
}

/* #tasks-and-playlists-container {
  display: flex;
} */

#task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.appendedTasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(81, 78, 102, 0.664);
  color: aliceblue;
  border-radius: 8px;

}

/* #playlistContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
} */

#playlistRow {
  display: flex;
  width: 50%;
}

.playlistImage {
  width: 200px;
  height: 200px;
  margin-right: 50px;
  /* display: flex;
  flex-direction: row; */
}

.main-weather {
  float: inline-end;
  display: flex;
  /* position:left: -100px top: 30px; */
  align-self: flex-end;
  flex-direction: column;
  width: 30%;
  margin-left: 500px;
  margin-top: 25px;
  /* background-color: rgba(255, 255, 255, 0.487);
  color: black; */
}

.planner-btn {
  color: black;
  background-color: rgba(255, 255, 255, 0.606);
  border-radius: 8px;
  box-shadow: -7px 8px 7px 0px #01110182;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .content {
    width: 100%;
  }
}

#playlistContainer img {
  width: 100px;
  height: 100px;
}

.delete {
  margin-left: 5px
}

/* need to possibly make add task/select task/time and submit button in its own div, need to make page extend past a certain point,  */